{% load static %}
<div class="gn-home-cards">
    <div class="gn-home-card">
        <a href="https://www.tanzania.go.tz/" target="_blank">
            <img src="{% static 'img/logo/Government-of-Tanzania-Logo.png' %}">
        </a>
    </div>
    <div class="gn-home-card">
        <a href="https://www.ukaiddirect.org/" target="_blank">
            <img src="{% static 'img/logo/UKaid-Logo.png' %}">
        </a>
    </div>
    <div class="gn-home-card">
        <a href="http://www.worldbank.org/en/programs/tanzania-urban-resilience-program" target="_blank">
            <img src="{% static 'img/logo/TURP-Logo.png' %}">
        </a>
    </div>
    <div class="gn-home-card">
        <a href="http://www.worldbank.org/" target="_blank">
            <img src="{% static 'img/logo/The-World-Bank-logo.png' %}">
        </a>
    </div>
</div>
