{% load static %}
<div class="gn-home-cards">
    <div class="gn-home-card">
        <a href="http://www.aru.ac.tz/" target="_blank">
            <img src="{% static 'img/logo/ARU-logo.jpg' %}">
        </a>
    </div>
    <div class="gn-home-card">
        <a href="https://www.sua.ac.tz/" target="_blank">
            <img src="{% static 'img/logo/SUA_logo.png' %}">
        </a>
    </div>
    <div class="gn-home-card">
        <a href="https://www.suza.ac.tz/" target="_blank">
            <img src="{% static 'img/logo/logo_suza_suza.png' %}">
        </a>
    </div>
    <div class="gn-home-card">
        <a href="https://www.udsm.ac.tz/" target="_blank">
            <img src="{% static 'img/logo/UDSM_logo.png' %}">
        </a>
    </div>
    <div class="gn-home-card">
        <a href="https://www.utu.fi/en" target="_blank">
            <img src="{% static 'img/logo/UTU.png' %}">
        </a>
    </div>
</div>