{% load i18n %}
<footer class="gn-footer">
    <div class="ra-footer-wrapper">
        <ul>
            <li>
                <a href="https://resilienceacademy.ac.tz/about-us/" target="_blank" rel="noopener noreferrer">
                    {% trans 'About Us' %}
                </a>
            </li>
            <li>
                <a href="/term-of-use">
                    {% trans 'Terms of use' %}
                </a>
            </li>
            <!--li>
                <a href="/get-started">
                    {% trans 'Get Started' %}
                </a>
            </li-->
            <li>
                <a href="https://resilienceacademy.ac.tz/contact-us/" target="_blank" rel="noopener noreferrer">
                    {% trans 'Contact Us' %}
                </a>
            </li>
            <li>
                <a href="https://resilienceacademy.ac.tz/" target="_blank" rel="noopener noreferrer">
                    {% trans 'Resilience Academy Website' %}
                </a>
            </li>
            <li>
                <a href="https://www.geoict.org/" target="_blank" rel="noopener noreferrer">
                    {% trans 'GeoICT4e' %}
                </a>
            </li>
        </ul>
        <div><small>{% trans 'Managed and Designed by ' %}<!--a href="/crd-team"-->{% trans 'CRD Team' %}<!--/a--></small></div>
    </div>
</footer>
